/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --tw-bg-opacity: 1; /* Controla a opacidade */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    color: rgb(238, 238, 238)!important;    
    background-color: rgb(15 23 42 / var(--tw-bg-opacity)); /* Cor azul com opacidade */
    background: radial-gradient(circle, #1d2d54, #0e1629); /* Gradiente radial centrado */
}

html {
    scrollbar-width: thin;
    scrollbar-color: #888 #f4f4f4;
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
    flex-direction: column;
}

/* Nav menu */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    color: #333;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: #ddd;
    border-radius: 5px;
}

/* Estado inicial: elementos ocultos */
.section {
    opacity: 0; /* Invisível */
    transform: translateY(50px); /* Levemente abaixo */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Estado final: elementos visíveis */
.section.visible {
    opacity: 1; /* Visível */
    transform: translateY(0); /* Volta à posição original */
}
