/* Responsividade para a seção de boas-vindas */
section#welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
    flex-direction: column;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.05), transparent 45%)
}

h1 {
    font-size: 3rem!important;
    font-weight: 600;
    line-height: 1.2;
}

h2 {
    font-size: 1.7rem !important;
    font-weight: lighter !important;
}

/* Responsividade */
@media (max-width: 1024px) {
    h1 {
        font-size: 2.5rem!important; /* Ajusta o tamanho do texto em telas menores */
    }
    h2 {
        font-size: 1.5rem!important; /* Ajusta o tamanho do texto do subtítulo */
    }
}

@media (max-width: 768px) {
    section#welcome {
        padding: 20px!important;
    }

    h1 {
        font-size: 2rem!important; /* Reduz ainda mais o tamanho do título */
    }

    h2 {
        font-size: 1.4rem!important; /* Ajusta para telas menores */
    }
}

@media (max-width: 480px) {
    section#welcome {
        padding: 15px!important;
    }

    h1 {
        font-size: 1.5rem!important; /* Tamanho pequeno para dispositivos móveis */
    }

    h2 {
        font-size: 1.2rem!important; /* Ajusta o subtítulo para dispositivos móveis */
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
}
.social-icons a {
    text-decoration: none;
    color: white; /* Altere conforme o fundo */
    font-size: 24px;
    transition: transform 0.3s, color 0.3s;
}
.social-icons a:hover {
    transform: scale(1.2);
}

.cv-button {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: transparent;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    width: max-content;
    border: 1px solid white;
}

.cv-button:hover {
    transform: scale(1.1);
}
